$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'bootstrap/bootstrap';

$section-margin: 20px;
$section-margin-small: 15px;
$section-margin-xsmall: 10px;

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, right top, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(left, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(left, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(bottom, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

body {
  @media (min-width: $screen-sm) {
    padding: 40px 0;
  }

  @media (max-width: $screen-sm-max) {
    padding: 20px 0;
  }

  @media (max-width: $screen-xs-max) {
    padding: 10px 0;
  }

  // Spacings
  .header, #main, .footer {
    @media (min-width: $screen-sm) {
      margin-bottom: $section-margin;
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: $section-margin-small;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: $section-margin-xsmall;
    }
  }

  .search-container {
    margin-bottom: 20px;
    @media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
      margin-bottom: 10px;

    }
    }

  .search-title-container, .result-title-container {
      border-radius: 10px 10px 0px 0px;
      padding: 5px 15px;
      @media (max-width: $screen-md-max) and (min-width: $screen-sm) {
        padding: 1px 15px;
      }

  }

  .search-title-container {background-color: white;}
  .result-title-container {
    background-color: #43464B;
    color: $body-bg;
    @media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
      h5 {
        font-size: 13px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }

  }

  .search-field-container, .result-container-bottom {
      border-radius: 0px 0px 10px 10px;
      background-color: #43464B;
      padding: 5px 15px;
      @media (max-width: $screen-md-max) and (min-width: $screen-sm) {
        padding: 1px 15px;
      }

      input {
        width: 100%;
        margin: 10px 0;
        @media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
          margin: 5px 0;
          font-size: 10px;
        }

      }
  }

  .search-field-container {background-color: #43464B;}
  .result-container-bottom {
    background-color: white;
    height: 15px;
    @media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
      height: 5px;
    }

    }


  .header h2 {
    @media (max-width: $screen-xs-max) {
      font-size: ceil($font-size-base * 1.25);
      margin-top: ($line-height-computed / 2);
      margin-bottom: ($line-height-computed / 2);
    }

    img {
     margin-right: 10px;
    }

  }

  .row div .content {
    border-radius: $border-radius-container;

    &.terraces {
      .results {
        background-color: white;
        padding-top: 12px;
        .result {
          @include opacity(0.8);

          &:hover {
            cursor: pointer;
            @include opacity(1);
          }

          span {
            display: block;
            &.name {
              font-size: 16px;
              line-height: 20px;
            }

            &.address {
              font-size: 14px;
              line-height: 16px;
            }
          }

          .shine-levels {
            margin: 7px -1% 10px;

            .col-xs-2.no-space {
              padding-left: 0;
              padding-right: 0;
              width: 14.66667%;
              margin: 0 1%;
            }
          }

          .shine-level {
            height: 18px;
            background-color: #ffe633;

            text-align: center;

            &.shine-level-0 {
              color: white;
              background-color: #514b86;
            }
            &.shine-level-1 {
              @include linear-gradient(#858585, #ffe633);
            }
            &.shine-level-2 {
              background-color: #ffe633;
            }
            &.shine-level-3 {
              background-color: #ffe633;
            }
          }
        }

      }

      @media (max-width: $screen-md-max) and (min-width: $screen-md) {
        .results {
          padding-top: 12px;
          .result {
            span {
              &.name {
                font-size: 14px;
                line-height: 16px;
              }

              &.address {
                font-size: 12px;
                line-height: 14px;
              }
            }

            .shine-levels {
              margin: 4px -1% 8px;
            }

            .shine-level {
              height: 14px;
              font-size: 10px;
            }
          }
        }
      }

      @media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
        .results {
          padding-top: 10px;
          .result {
            span {
              &.name {
                font-size: 14px;
                line-height: 16px;
              }

              &.address {
                font-size: 12px;
                line-height: 14px;
              }
            }

            .shine-levels {
              margin: 2px -1% 8px;
            }

            .shine-level {
              height: 14px;
              font-size: 10px;
            }
          }
        }
      }

      @media (max-width: $screen-xs-max) {
        .results {
          .result {
            .shine-level {
            }
          }
        }
      }

    }



    @media (max-width: $screen-sm-max) {
      margin-top: ($line-height-computed);
    }

    &.map {
      position: relative;
      width: 100%;
      padding-bottom: 84%;
      @media (max-width: $screen-xs-max) {
        padding-bottom: 100%;
        margin-top: 10px;
      }

      .infobox {
        position: absolute;
        bottom: 10px;
        left: 10px;
        border-radius: $border-radius-container;
        background-color: white;
        z-index: 1;
        padding: 10px;

        img {
          width: 20px;
        }
      }

      #map {
        // @TODO not working in Chrome: https://github.com/Leaflet/Leaflet/issues/1549
        border-radius: $border-radius-container;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &.weather {
      width: 130px;
      padding: $padding-large-vertical 0;
      background-color: $terde-white;
      
      @media (max-width: $screen-sm-max) {
        float: right;
      }

      .icon {
        padding-left: $padding-small-horizontal;
      }

      & > .row > div {
        float: left;
      }
    }
  }

  .footer {
    text-align: right;
    .buttons {
      margin: 10px 0;
    }

    p {
      text-transform: uppercase;
    }
  }

  .result-pager-container {
    background-color: white;
    padding-top: 12px;

    .result-pager {
      background-color: white;
      margin: 0;
      li {
        > a, .pager li > span {
          background-color: #6c95cb;
          border: none;
          padding: 3px 5px;
          border-radius: 12px;
          color: white;
        }

        > a:hover,
        > a:focus {
          background-color: #516f97;
        }

        &.disabled {
          background-color: #c3c2c0;
          > a,
          > a:hover,
          > a:focus,
          > span {
            color: white;
            background-color: #c3c2c0;
            cursor: not-allowed;
          }
        }
      }
    }
  }

}

.porottaa-button-group {
  .btn-porottaa {
    text-transform: uppercase;
    border: none;
    background-color: #43464B;
    color: #ffe761;
    border-radius: 0;
    padding: 6px 0;

    span.caret {
      border-top: 4px solid #ffe761;
    }
  }

  .dropdown-menu {
    border-radius: $border-radius-container;
    background-color: #ffe761;
    & > li > a {
      &:hover, &:focus {
        background-color: #514b86;
      }
    }

  }
}