$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'bootstrap/bootstrap';

body {
    padding: 60px 0;

  .header {
    margin-bottom: 35px;

    h4 {
      color: $terde-white;
    }
  }

  .row > div > .content {
    border-radius: 12px;
    border: 1px solid black;

    min-height: 20px;
  }
}


