$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'bootstrap/bootstrap';

$section-margin: 20px;
$section-margin-small: 15px;
$section-margin-xsmall: 10px;

body {
  @media (min-width: $screen-sm) {
    padding: 40px 0;
  }

  @media (max-width: $screen-sm-max) {
    padding: 20px 0;
  }

  @media (max-width: $screen-xs-max) {
    padding: 10px 0;
  }

  // Spacings
  .header, #main, .footer {
    @media (min-width: $screen-sm) {
      margin-bottom: $section-margin;
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: $section-margin-small;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: $section-margin-xsmall;
    }
  }

  .search-title-container {
      border-radius: 10px 10px 0px 0px;
      background-color: white;
      padding: 15px;


  }

  .search-container {
      border-radius: 0px 0px 10px 10px;
      background-color: #43464B;
      padding: 15px;

  }

  .header h2 {
    @media (max-width: $screen-xs-max) {
      font-size: ceil($font-size-base * 1.25);
      margin-top: ($line-height-computed / 2);
      margin-bottom: ($line-height-computed / 2);
    }

  }

  .row > div > .content {
    border-radius: $border-radius-container;

    &.terraces .result {
      border: 1px dashed black;

      .shine-level {
        height: 10px;
        &.shine-level-0 {
          background-color: #000000;
        }
        &.shine-level-1 {
          background-color: gray;
        }
        &.shine-level-2 {
          background-color: orange;
        }
        &.shine-level-3 {
          background-color: #ffff00;
        }
      }
    }

    // @TODO remove placeholder
    &.placeholder {
      border: 1px solid black;
      min-height: 20px;
    }

    @media (max-width: $screen-sm-max) {
      margin-top: ($line-height-computed);
    }

    &.map {
      @media (max-width: $screen-sm-max) {
        margin-top: ($line-height-computed / 2);
      }
      position: relative;
      width: 100%;
      padding-bottom: 84%;
      @media (max-width: $screen-xs-max) {
        padding-bottom: 100%;
      }


      #map {
        // @TODO not working in Chrome: https://github.com/Leaflet/Leaflet/issues/1549
        border-radius: $border-radius-container;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &.weather {
      width: 130px;
      padding: $padding-large-vertical 0;
      background-color: $terde-white;
      
      @media (max-width: $screen-sm-max) {
        float: right;
      }

      .icon {
        padding-left: $padding-small-horizontal;
      }

      & > .row > div {
        float: left;
      }
    }
  }

  .footer {
    p {
      float: right;
      text-transform: uppercase;
    }
  }
}


